# Ignore SDL files
*.dll
src/

# Ignore VSCode specific files
.vscode
.vs

# Ignore personal main.exe/shell.exe
*.exe

# Ignore testing files
testing.cpp

# Ignore development databases
sql.sql
scoresdev.db